.search-table{
    width: 95%;
}
/* From Uiverse.io by alexruix */ 
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   
   .input {
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #fff;
    color: #0d0c22;
    transition: .3s ease;
    box-shadow: 0px 9px 25px rgba(0, 0, 0, 0.2);
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: #1e40afe6;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(69, 94, 237, 0.1);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1.2rem;
    height: 1.2rem;
   }   