*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body ,html{
  background-color: white;
}

.rigth-log{
  height: 100vh;
}

.shapedividers_com-9141{
  overflow:hidden;
  position:relative;
  background-color: #1e40afe6;
  }
  .shapedividers_com-9141::before{ 
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw; 
  background-size: 186px 248%;
  background-position: 100% 94%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2.17 35.28" preserveAspectRatio="none"><path d="M1.16 0c-.8 3.17.4 7.29.56 10.04C1.89 12.8.25 19.3.42 22.71c.16 3.43.84 4.65.86 7.05.03 2.4-.88 5.52-.88 5.52h1.77V0z" fill="%23ffffff"/></svg>'); 
  }
  
/* From Uiverse.io by nathann09 */ 
.form {
  display: block;
  padding: 1rem;
  width: 85%;
  border-radius: 0.5rem;
}

.form-title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #1e40afe6;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}
 @media (max-width: 768px){
  .rigth-log{
    display: none;
  }
  .left-log{
    width: 100% !important;
    min-height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .remrmber span{
    display: none;
  }
  
}
 @media (max-width: 992px){
  .rigth-log{
    display: none;
  }
  .left-log{
    width: 100% !important;
    min-height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e40afe6;
  }
  form{
    background-color: #fff;
    min-height: 60vh;
  }
  .form-title{
    padding: 2rem 0.9rem;
  }
}